<p class="c">Reactive form demo with angular.</p>
<form class="c" [formGroup]="loginform" (ngSubmit)="loginuser()" id="a">
  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput formControlName="name" pattern="^[a-zA-Z ,.'-]+$" />
    <mat-error *ngIf="name?.invalid && name?.touched; else elseBlock">
      Please input a valid name.
    </mat-error>
    <ng-template #elseBlock><br /></ng-template>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" pattern="^\S+@\S+\.\S+$" />
    <mat-error *ngIf="email?.invalid && email?.touched; else elseBlock">
      Please input a valid email.
    </mat-error>
    <ng-template #elseBlock><br /></ng-template>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Age</mat-label>
    <input matInput formControlName="age" pattern="^[0-9]+$" />
    <mat-error *ngIf="age?.invalid && age?.touched; else elseBlock">
      Please input a valid age.
    </mat-error>
    <ng-template #elseBlock><br /></ng-template>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mobile Number</mat-label>
    <input matInput formControlName="mobile" pattern="^[0-9 +\-()]+$" />
    <mat-error *ngIf="mobile?.invalid && mobile?.touched; else elseBlock">
      Please input a valid mobile number.
    </mat-error>
    <ng-template #elseBlock><br /></ng-template>
  </mat-form-field>
  <button
    mat-raised-button
    type="button"
    *ngIf="name?.valid && email?.valid && age?.valid && mobile?.valid"
    (click)="send()"
  >
    Send
  </button>
</form>
